	*{
		margin: 0px;
		padding: 0px;
	}	
		.navbar{
				background-color: #1ebea5;
				height: 91px;
				width:100%;
				margin-bottom: 50px;
		}
			.img{
				
			    margin-left: 224px;
			    padding-left: 10px;
			    padding-top: 25px;
			}
			.menu{
				float:right;
				margin-top: -34px;
    			margin-right: 324px;
			}
			.menu a{
			    margin-left: 58px;
			    color: #fff;
			    text-transform: capitalize;
			    text-decoration: none;
			    font-size: 13px;
			    font-weight: 500;
			    letter-spacing: .02em;
			}
			.back{
				width: 788px;
				height: 599px;
				margin: auto;	
			}
				#par{
					width: 440px;
					margin-top:210px;
				}
				#par h1{
						font-size: 33px;
					    font-weight: 300;
					    line-height: 35px;
					    margin-bottom: 24px;
				}
				#par h3{
						font-size: 16px;
					    line-height: 26px;
					    margin-bottom: 12px;
					    opacity: .78;
					}
				#img{
    				margin-top: -346px;
					float: right;
					background-image: url("https://static.whatsapp.net/rsrc.php/v3/yL/r/JPLgnsnIOEq.png");
				    height: 599px;
				    width: 318px;
				    background-repeat: no-repeat;
				    background-size: contain;
				    position: relative;
				}

				